<div class="bg-white flex flex-wrap pt-2 pb-8">
  <div class="px-4 sm:p-4 sm:p-6 lg:max-w-7xl lg:p-8">
    <div class="grid md:grid-flow-col flex-grow w-auto h-auto col-auto row-auto gap-y-2 gap-x-4 xl:gap-x-6">
      <div class="group">
        <div class="rounded-lg overflow-hidden">
          <img src="{{product.image}}" alt="{{product.title}}" class="object-center object-cover lg:w-full lg:h-full">
        </div>
        <div class="flex justify-between">
          <div>
            <h4 class="text-sm text-gray-700">
              <!--a href="#"-->
              <span aria-hidden="true" class="absolute inset-0"></span>
              {{product.title}}
              <!--/a-->
            </h4>
          </div>
          <p class="text-sm font-medium text-gray-900">{{product.price | currency}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
